{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    {% if from.errors  %}
        <p>Username or password is incorrect<br>Try again</p>
    {% else %}
        <p>Fill out the form below to log in.<br>
        If you do not have an account, you can <a href='{% url "register" %}'>register</a></p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Login"/></p>
        </form>
        <p>
            <a href='{% url "password_reset" %}'>Forget password</a>
        </p>
    </div>
    <div class="social">
        <ul>
            <li class="facebook">
                <a href='{% url "social:begin" "facebook" %}'>Sign in with Facebook account</a>
            </li>
        </ul>
        <ul>
            <li class="twitter">
                <a href='{% url "social:begin" "twitter" %}'>Sign in with X account</a>
            </li>
        </ul>
        <ul>
            <li class="google">
                <a href='{% url "social:begin" "google" %}'>Sign in with Google account</a>
            </li>
        </ul>
    </div>
{% endblock %}