{% extends "base.html" %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
    <h1>{{ image.title }}</h1>
    <h3>Added {{ image.created }} by {{ image.user }}</h3>
    {% load thumbnail %}
        <a href='{{ image.image.url }} '>
             <img src='{% thumbnail image.image 300x0 %}' class="image-detail">
        </a>
    {% with total_likes=image.users_like.count users_like=image.users_like.all %}
        <div class="image-info">
            <div>
                <span class="count">
                    <span class="total">
                        {{ total_likes }} like
                    </span>
                </span>
                <span>
                    {{ total_views }} views
                </span>
<a href="#" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
    {% if request.user not in users_like %}
    Like
    {% else %}
    Unlike
    {% endif %}
</a>
            </div>
            {{ image.descritpion|linebreaks }}
        </div>
        <div style="clear: both"></div>
        <div class="image_likes" id="picture">
            {% for user in users_like %}
                <div>
                    {% if user.profile.photo %}
                        <img src="{% thumbnail user.profile.photo 100x100 %}">
                    {% endif %}
                    <p id="user_name">{{ user.first_name }}</p>
                </div>
            {% empty %}
                <p id="empty">No one has liked this image yet</p>
            {% endfor %}
        </div>
    {% endwith %}

{% endblock %}

{% block domready %}
    function createDiv(totalLikes) {
        if(totalLikes === 0)
        {
            var empty = document.querySelector('p#empty');
            empty === null ? null : empty.remove();
        }

        var name = '{{ user.first_name }}';
        var photo = '{% thumbnail user.profile.photo 100x100 %}';

        var parent = document.querySelector('#content #picture');

        var divElement = document.createElement("div");
        var imgElement = document.createElement("img");
        var paragraphElement = document.createElement("p");
        paragraphElement.textContent = name;
        imgElement.src = photo;

        divElement.appendChild(imgElement);
        divElement.appendChild(paragraphElement);
        parent.appendChild(divElement);
        return divElement;
        }

    function removeDiv(newDiv)
    {
        if(!newDiv)
        {
            var userName = '{{ user.first_name }}';
            var users = document.querySelectorAll('p#user_name');
            users.forEach(function(user)
            {
                var pname = user.textContent;
                if (pname === userName)
                {
                    var parent = user.parentNode;
                    parent.remove();
                }
            });
        }
        else
        {
            newDiv.remove();
        }
    }
    const url = '{% url "images:like" %}';
    var newDiv;
    var options = {
        method: "POST",
        headers: {'X-CSRFToken': csrftoken},
        mode: 'same-origin'
    }
    document.querySelector('a.like').addEventListener('click', function(e){
        e.preventDefault();
        var likeButton = this;
        var fromData = new FormData();
        fromData.append('id', likeButton.dataset.id);
        fromData.append('action', likeButton.dataset.action);
        options['body'] = fromData;

        fetch(url, options).then(response => response.json())
            .then(data=>{
            if(data['status'] === "ok")
            {
                var previousAction = likeButton.dataset.action;
                var action = previousAction === "like" ? "unlike" : "like";
                likeButton.dataset.action = action;
                likeButton.innerHTML = action;
                var likeCount = document.querySelector('span.count .total');
                var totalLikes = parseInt(likeCount.innerHTML);
                previousAction === "like" ? newDiv = createDiv(totalLikes) : removeDiv(newDiv);
                totalLikes = previousAction === "like" ? totalLikes + 1 : totalLikes - 1;
                totalLikes = totalLikes + ' like';
                likeCount.innerHTML = totalLikes;

            }
        })
    }); 
{% endblock %}